<navbar></navbar>

<main class="page-new-organization container">
  <form>
    <h2>Organisation</h2>

    <div class="form-inline">
      <div class="form-group">
        <label for="event-name">Wie heißt deine Organisation?</label>
        <input
          class="form-control"
          type="text"
          id="event-name"
          placeholder="Lange Nacht der Museen 2016"
        >
      </div>

      <div class="form-group">
        <label for="event-description">Worum geht es in deiner Organisation?</label>
        <textarea
          class="form-control"
          id="event-description"
        ></textarea>
      </div>
    </div>

    <!--<button class="btn btn-primary" type="submit">Weiter</button>-->
    <a class="btn btn-primary" ui-sref="manageOrganization">Weiter</a>
  </form>
</main>
